In [ ]:
from classes.SQLManager import DatabaseManager
from typing import List

In [18]:
db = DatabaseManager(
    server="cs4090.database.windows.net,1433",
    database="CS4090Project",
    username="DevUser",
    password="CSProject4090!"
)

In [19]:
query = "SELECT * FROM [Group]"
groups = db.read_query_to_df(query)

In [20]:
groups.head()

   groupID          groupName                                     description
0        1          Book Club    Monthly book discussions and literary events
1        2  Hiking Adventures     Weekend hiking trips and outdoor activities
2        3        Tech Meetup  Technology presentations and networking events

In [21]:
from typing import List

def getGroupInfoByID(groupIDList: List[int]):
    if not groupIDList:
        return []

    placeholders = ", ".join([f":id{i}" for i in range(len(groupIDList))])
    query = f"SELECT * FROM [Group] WHERE groupID IN ({placeholders})"

    params = {f"id{i}": gid for i, gid in enumerate(groupIDList)}

    group_df = db.read_query_to_df(query, params)

    return group_df.to_dict(orient="records")

In [24]:
x = getGroupInfoByID([1, 2, 3])

In [25]:
x

[{'groupID': 1,
  'groupName': 'Book Club',
  'description': 'Monthly book discussions and literary events'},
 {'groupID': 2,
  'groupName': 'Hiking Adventures',
  'description': 'Weekend hiking trips and outdoor activities'},
 {'groupID': 3,
  'groupName': 'Tech Meetup',
  'description': 'Technology presentations and networking events'}]