In [12]:
from classes.SQLManager import DatabaseManager

In [13]:
db = DatabaseManager(
    server="cs4090.database.windows.net,1433",
    database="CS4090Project",
    username="DevUser",
    password="CSProject4090!"
)

In [14]:
query = "SELECT * FROM [Group]"
groups = db.read_query_to_df(query)

In [15]:
groups.head()

   groupID          groupName                                     description
0        1          Book Club    Monthly book discussions and literary events
1        2  Hiking Adventures     Weekend hiking trips and outdoor activities
2        3        Tech Meetup  Technology presentations and networking events